html{
	background-color: grey;
	color: white;
	font-family: tahoma;
}

.Header{
	border: 1px solid blue;
}

.Page_Title{
	float: left;
}
.Links a {
	float: right;
	text-decoration: none;
	margin-right: 30px;
}

.clearfix {
	clear: both;
}